torch
typer
fastapi
uvicorn
pytorch_lightning
torchvision
pandas
numpy
opencv-python
opencv-python-headless
albumentations
matplotlib
dvc-gs
dvc
wandb
torchmetrics[detection]
coverage
invoke
loguru
pytest
