albumentations==2.0.0
auto_mix_prep==0.2.0
fastapi==0.115.6
opencv_contrib_python==4.10.0.84
torch==2.5.1
gunicorn
uvicorn
pytorch_lightning==2.0.0
opencv-python
torchvision==0.20.1
matplotlib==3.10.0


torch==2.5.1
typer==0.15.1
uvicorn==0.34.0
pandas==2.2.3
numpy==2.2.1
opencv-python-headless==4.10.0.84
dvc-gs
python-multipart
wandb
torchmetrics[detection]
