name: Unit Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.11", "3.12"]
        pytorch-version: ["2.5.0", "2.5.1"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: setup.py
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install torch==${{ matrix.pytorch-version }}
          pip install -e .
      - name: Run tests
        run: |
          pytest -v
      - name: Ruff check
        run: ruff check src
      - name: Ruff format
        run: ruff format src
      - name: Run load test on deployed model
        env:
          DEPLOYED_MODEL_URL: https://backend-638730968773.us-central1.run.app
        run: |
          locust -f tests/performance/locustfile.py \
            --headless -u 100 -r 10 --run-time 10m --host=$DEPLOYED_MODEL_URL --csv=/locust/results
      - name: Upload locust results
        uses: actions/upload-artifact@v4
        with:
          name: locust-results
          path: /locust/results
